<div class="container" >
  <div
    class="cover"
    [ngStyle]="{'background-image': 'url(' + activePhoto.url + ')'}"
    [@sharpenCover]="listVisibility"
  ></div>
  <div
    class="photo_list"
    [@slideDownList]="listVisibility"
  >
    <div
      class="photo"
      *ngFor="let photo of photos"
      [@selectActivePhoto]="photo.state"
      (click)="select(photo)"
      [ngClass]="photo.state"
      (@selectActivePhoto.start)="animating = true"
      (@selectActivePhoto.done)="animating = false"
    >
      <img width="100" src="{{photo.url}}">
    </div>
  </div>
</div>
